<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- admin -->
      <ion-list lines="none" >
          <ion-item *ngFor="let routes of routeObj">
            <ion-label><a class="nav-link" (click)="getHeader('Dashboard')" routerLink="{{routes.link}}">{{routes.name}}</a></ion-label>
          </ion-item>
          
        </ion-list>
       
  </ion-content>
</ion-menu>