<ion-content [fullscreen]="true" class="no-scroll">
  <div class="main ">
    <form class="w-100" #addTeacherForm="ngForm" (ngSubmit)="addCourse(addTeacherForm.value)">
      <h1 class="fw-bold text-center">ADD COURSE</h1>
      <ion-item class="my-3">
        <ion-input ngModel name="name" placeholder="Course Name"></ion-input>
      </ion-item>

      <ion-item class="my-3">
        <ion-input ngModel name="fees" placeholder="Fees"></ion-input>
      </ion-item>
      
      <ion-item class="my-3">
        <ion-textarea placeholder="Description" name="desc"
        [clearOnEdit]="true"></ion-textarea>
      </ion-item>
        
        <ion-button type="submit" expand="block">Submit</ion-button>

    </form>
  </div>

</ion-content>