<ion-content [fullscreen]="true" class="no-scroll">
  <div class="cards" >

    <ion-card *ngFor="let course of lectList">
      
      <ion-card-header>
        <ion-card-title>{{course.title}}</ion-card-title>
        <ion-card-subtitle>{{course.Course[0]['courseName']}}</ion-card-subtitle>
        <ion-card-subtitle>Date: {{course.lectDate}}</ion-card-subtitle>
        <ion-card-subtitle>Start-Time: {{course.startTime}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="text-center">
      
      <ion-button (click)="join(course._id)" size="medium">Join</ion-button>
    </ion-card-content>
    
    
  </ion-card>

  <p class="text-center" *ngIf="lectList == ''">
    Lectures Not Found
  </p>
  
</div>
</ion-content>